* {
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #333;
}

.card {
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, filter 0.3s ease-out;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 1rem;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    filter: brightness(1.05);
}

.card-body {
    background-color: #f8f9fa;
    padding: 1.5rem;
    transition: background-color 0.3s ease;
}

.card-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;
}

.card:hover .card-title {
    color: #007bff;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
    transition: color 0.3s ease;
}

.card:hover .card-text {
    color: #333;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
    border-bottom: 1px solid #ddd;
    transition: transform 0.3s ease;
}

.card:hover .card-img-top {
    transform: scale(1.05);
}

.text-danger {
    color: #dc3545;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.1rem;
}

/* css for tablets */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .card {
        margin-bottom: 1rem;
    }

    .card-body {
        padding: 1rem;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 0.85rem;
    }

    .card-img-top {
        height: 180px;
    }
}

/* css for mobile devices */
@media (max-width: 576px) {
    h1 {
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
    }

    .navbar {
        background-color: #fff;
    }

    .navbar-nav .nav-item {
        margin: 0 20px;
    }

    .navbar-nav .nav-link {
        font-size: 1rem;
    }

    .card {
        margin-bottom: 1rem;
    }

    .card-body {
        padding: 0.8rem;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .card-img-top {
        height: 160px;
    }

    .text-danger {
        font-size: 1rem;
    }
}