* {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-item {
    margin: 0 50px;
}

.navbar-nav .nav-link {
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
    transform: scale(1.1);
}